.App {
  text-align: center;
  background-color: #d7d6d6;
}

.App-logo {
  height: 40vmin;
  border-radius: 100%;
  height: 10em;
  width: 10em;
  padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #2b2b2b;
  display: block;
  padding: 0.5em;
  margin: 0.3em;
  text-decoration: none;
  transition-property: color;
  transition-property: initial;
  transition-duration: 0.3s;
}
.App-link:hover {
  color: azure;
}

.App-btn {
  background-color: #e8e8e887;
  width: 25em;
  margin: 0.2em;
  transition-duration: 0.3s;
}
.App-btn:hover {
  background-color: #909090;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#insta, #mail {
  display: contents;
  padding: 0em 1em 0em 1em ;
  display: inline-block;
}

/*___________________________HEADER___________________________*/
.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #2b2b2b;
}

.App-nav {
  display: flex;
  justify-content: space-between;
  align-items:center;
  min-height: 15vh;
  flex-wrap: wrap-reverse;
}

.navOne{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navOne img{
  width: 5em;
  height: 5em;
  margin-left: 2em;
}

.navTwo{
  /*width: calc(100% * 0.5);*/
  height: 3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.navThree{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/*___________________________MAIN___________________________*/
.App-main {
  background-color: #d7d6d6;
}

.Section{
  background-color:#90909072;
  margin: 1em 0em 1em 0em;
  padding: 10em 5em;
}

.Spirit
{
  background-image: url(../public/WEBSITE_Sprinkles_EP_COVER1.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
}

.Spirit h1 {
  margin: 0px;
}

.Consult{
  background-color: #d7d6d6;;
  height: auto;
}

.Consult h1 {
  margin: 0px;
}

.About {
  background-color: #d7d6d6;
  height: auto;
}

.About h1 {
  margin: 0px;
}

.Home {
  background-color: #d7d6d6;
  height: 600px; /*BYT DENNA SENARE*/
}

.Home h1 {
  margin: 0px;
}

/*___________________________FOOTER___________________________*/
.App-footer { 
  padding: 2em 5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  background-color: #d7d6d6;
}

.footerOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.footerOne p {
  margin: 2px;
}
.footerOne a, #insta {
  padding: 0px;
  margin: 0px 2em 0px 0px;
}

.footerTwo {
  display: flex;
  justify-content: center;
}

.footerThree {
  display: flex;
  justify-content: flex-end;
}